@{
    ViewBag.Title = "Home Page";
}

<div>
    <img class="header-img" src="~/Content/images/bg-desktop-light.jpg" />
    <div class="list_container">
        <div class="list_content">
            <div>
                <p class="header">TODO</p>
            </div>

            <input id="add_new_input" placeholder="Create a new todo..." />

            <div id="todo_list_div">
                <div class="todo_item">
                    <input class="status_checkbox" type="checkbox"/>
                    <p>To do placeholder 1</p>
                </div>
                <div class="todo_item">
                    <input class="status_checkbox" type="checkbox" />
                    <p>To do placeholder 2</p>
                </div>
            </div>
        </div>       
    </div>
</div>

<script>
    addToDoItemURL = "@Url.Action("AddToDoItem", "Home")";


</script>
